@import "tailwindcss";

:root {
  --background: #f8f5f2;
  --foreground: #202020;
  --accent: #b58900;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #ffbf00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), var(--font-sans), sans-serif;
}

a {
  color: var(--accent);
}

.prose img {
  max-width: 100%;
  height: auto;
}
